<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ app.router.static.url_for(filename='style.css') }}" rel="stylesheet">
    
</head>
<body>
    
<h1 class="element">{{ text }}</h1>
<br><br><br>

<div class="element">

<form action="/" method="post">
    <label for="reminder">Reminder text</label>
    <input type="text" name="reminder">
    <br><br>

    <label for="calendar">Date departure</label>
    <input type="date" name="calendar">
    <br><br>

    <label for="time">Time departure</label>
    <input type="time" name="time">
    <br><br><br>

    <input type="submit">
    {% if reminder_error %}
    <p>{{ reminder_error }}</p>
    {% endif %}


</form>

</div>

<div class="logout">

    <h3><a href="/logout">Logout</a></h3>

</div>

</body>
</html>