{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1 class="element">{{ header }}</h1>
<br><br><br>

<div class="element">

<form action="/" method="post">
    <label for="reminder">Reminder text</label>
    <input type="text" name="reminder">
    <br><br>

    <label for="calendar">Date departure</label>
    <input type="date" name="calendar">
    <br><br>

    <label for="time">Time departure</label>
    <input type="time" name="time">
    <br><br><br>

    <input type="submit">
    {% if reminder_error %}
    <p>{{ reminder_error }}</p>
    {% endif %}


</form>

</div>

<div class="logout">

    <h3><a href="{{ app.router.get('logout').url_for() }}">Logout</a></h3>

</div>

{% endblock %}
